ul {
    display : flex;
    list-style-type: none;
}

ul li {
    padding-left : 19px;
}


.login {
    padding: 40px;
	list-style: none;
    margin: 0;
    background-image: url("./download.png");
    background-repeat: no-repeat;
	background-position: left center;
    background-size: 40px;
    font-family: Roboto;
}

.login:hover {
    color :  #C866A9;
}
